/* 
*********** Colors ***********
*/

/* 
*********** Navbar ***********
*/

.navbar-dark {
    background-color: #2081E2;

}

.brando {
    font-weight: bold;
}

.nav-item {
    
}

.nav-icon {
    width: 40px;
}
/* 
*********** Containers ***********
*/

.container-1  {
    background-image: url('https://zno.s3.us-west-1.amazonaws.com/LA1.png');
    
    background-repeat: no-repeat;
    background-size: cover;
}

/* 
*********** Headings  ***********
*/

h1 {
    font-size: 72px;
}


/* 
*********** BLock Grid   ***********
*/

.blockgrid {
    display: block;
}

.blocks {
    display: block;
    position: relative;
    left: 2.5vw;
    width: 95vw;
    height: 24.5529vw;
}

.b1 {
    display: block;
    position: absolute;
    top: 4.86914vw;
    left: 0vw;
    width: 14.193vw;
    height: 14.193vw;
}

.b1inner {
    display: block;
    background-size: cover;
    position: absolute;
    inset: 0px;
    overflow: hidden;
}

.b2 {
    display: block;
    position: absolute;
    top: 3.41876vw;
    left: 14.193vw;
    width: 18.6478vw;
    height: 18.6478vw;
}

.b2inner {
    display: block;
    background-size: cover;
    position: absolute;
    inset: 0px;
    overflow: hidden;
}

.b3 {
    display: block;
    position: absolute;
    top: 9.01309vw;
    left: 32.8408vw;
    width: 20.0981vw;
    height: 11.1887vw;
}


.b3inner {
    display: block;
    background-size: cover;
    position: absolute;
    inset: 0px;
    overflow: hidden;
}

.b4 {
    display: block;
    position: absolute;
    top: 0vw;
    left: 52.9389vw;
    width: 14.193vw;
    height: 24.5529vw;
}

.b4inner {
    display: block;
    background-size: cover;
    position: absolute;
    inset: 0px;
    overflow: hidden;
}

.b5 {
    display: block;
    position: absolute;
    top: 4.55834vw;
    left: 67.132vw;
    width: 14.193vw;
    height: 14.193vw;
}

.b5inner {
    display: block;
    background-size: cover;
    position: absolute;
    inset: 0px;
    overflow: hidden;
}

.b6 {
    display: block;
    position: absolute;
    top: 9.01309vw;
    left: 81.325vw;
    width: 13.5714vw;
    height: 13.5714vw;
}

.b6inner {
    display: block;
    background-size: cover;
    position: absolute;
    inset: 0px;
    overflow: hidden;
}

/* 
*********** Image Blocks  ***********
*/

#img1 {
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#img2 {
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#img3 {
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#img4 {
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#img5 {
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#img6 {
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#p2 {
    margin-bottom:;
    object-fit: cover;
}

#p3 {
    margin-top:;
    object-fit: cover;
}

#p4 {
    margin-bottom:;
    object-fit: cover;
}

#p5 {
    margin-top:;
    object-fit: cover;
}

#p6 {
    margin-top:;
    object-fit: cover;
}

/* 
*********** Timeline ***********
*/

.vertical-timeline-element-icon {
    width: 20px;
    height: 20px;
    
}


/* 
*********** Cards ***********
*/

.card-map {
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;

}

/* How to style the toggler svg https://www.geeksforgeeks.org/how-to-change-hamburger-toggler-color-in-bootstrap/ */
/* Set the border color */
          
.custom-toggler.navbar-toggler {
    border-color: white;
}
/* Setting the stroke to green using rgb values (0, 128, 0) */
  
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* 
*********** Footer ***********
*/
.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(235, 195, 64);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }


  {/* Timeline */}

#timeline-heading {
    font-size: calc(1.325rem + .9vw);
}

.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0;
}

.timeline-container::after {
    background-color: blue;
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
}

.timeline-item {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;
    margin: 10px 0;
    width: 50%;
}

.timeline-item:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;
}

.timeline-item-content {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    position: relative;
    width: 400px;
    max-width: 70%;
    text-align: right;
}

.timeline-item-content::after {
    content: ' ';
    background-color: #fff;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: -7.5px;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
    text-align: left;
    align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .tag {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    top: 5px;
    left: 5px;
    letter-spacing: 1px;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
    left: auto;
    right: 5px;
}

.timeline-item-content time {
    color: #777;
    font-size: 12px;
    font-weight: bold;
}

.timeline-item-content p {
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0;
    max-width: 250px;
}

.timeline-item-content a {
	color: #333;
	text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.timeline-item-content a::after {
    content: ' ►';
    font-size: 12px;
}

.timeline-item-content .circle {
    background-color: #fff;
    border: 3px solid blue;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: -40px;
    width: 20px;
    height: 20px;
    z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
    right: auto;
    left: -40px;
}

@media only screen and (max-width: 1023px) {
    .timeline-item-content {
        max-width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .timeline-item-content,
    .timeline-item:nth-child(odd) .timeline-item-content {
        padding: 15px 10px;
        text-align: center;
        align-items: center;
    }

    .timeline-item-content .tag {
        width: calc(100% - 10px);
        text-align: center;
    }

    .timeline-item-content time {
        margin-top: 20px;
    }

    .timeline-item-content a {
        text-decoration: underline;
    }

    .timeline-item-content a::after {
        display: none;
    }
}




  